main {
    margin-left:auto;
    margin-right:auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 70, 70);
    background-color: white;
}

*:focus {
    outline: none;
}

#GoogleApps {
   
   max-width: 34px;
   margin-top: -7px;

}

header {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    
}

li {
    float: left;
    display: block;
    padding: 5px 15px;
    border: 10px;  
    font-size: 13px;

}

.float-right {
    float: right;
}

#voice {
    height: 32px;
}

#Google {
    
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 12% 0% 2% 0%;
    }

.searchbar {
    margin: 0 auto;
    text-align: center;
    display: block;
    
}

.submit {
    margin: 0 auto;
    text-align: center;
    display: block;

}


input[type=text] {
    width: 40%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Google_microphone_logo.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 3%;
    padding: 12px 20px;
    border: solid rgb(228, 226, 226);
    border-radius: 50px;
}

button {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: rgb(243, 242, 242);
    border:none;
    }

button:hover {
    background-color: rgba(226, 226, 226, 0.767);
}
    
 .footer-content  {
        background: rgb(238, 240, 240);
        font-size: 12px;
        padding: 0px 10px 5px 0px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    
}
